
.click {
  background-color: blanchedalmond;
}

.match1 {
  background-color: yellowgreen;
}

.match2 {
  background-color: lightpink;
}

.match3 {
  background-color: blanchedalmond;
}

.match4 {
  background-color: aqua;
}

.match5 {
  background-color: #afd9ee;
}

.match6 {
  background-color: #f0ad4e;
}

.match7 {
  background-color: greenyellow;
}

.match8 {
  background-color: darkslateblue;
}

.match9 {
  background-color: yellowgreen;
}

.match10 {
  background-color: lightpink;
}

.match11 {
  background-color: blanchedalmond;
}

.match12 {
  background-color: aqua;
}

.match13 {
  background-color: #afd9ee;
}

.match14 {
  background-color: #f0ad4e;
}

.match15 {
  background-color: greenyellow;
}

.match16 {
  background-color: darkslateblue;
}

.match17 {
  background-color: yellowgreen;
}

.match18 {
  background-color: lightpink;
}

.match19 {
  background-color: blanchedalmond;
}

.match20 {
  background-color: aqua;
}

.match21 {
  background-color: #afd9ee;
}

.match22 {
  background-color: #f0ad4e;
}

.match23 {
  background-color: greenyellow;
}

.match24 {
  background-color: darkslateblue;
}

.match25 {
  background-color: yellowgreen;
}

.match26 {
  background-color: lightpink;
}

.match27 {
  background-color: blanchedalmond;
}

.match28 {
  background-color: aqua;
}

.match29 {
  background-color: #afd9ee;
}

.match30 {
  background-color: #f0ad4e;
}

.match31 {
  background-color: greenyellow;
}

.match32 {
  background-color: darkslateblue;
}

.mat-cell{
  font-family: 'Hanna', sans-serif;
}

.mat-cell2{
  font-family: 'Hanna', sans-serif;
}
.receipt{
  font-family: 'Hanna', sans-serif;
}

.send{
  font-family: 'Hanna', sans-serif;
}
