<div class="page">
 <div class="jumbotron">
   <h1>배고플땐 배달의 가족!</h1>

   <p>이 사이트는 배달의 가족 입니다<a href="http://www.bdtong.co.kr/?utm_source=google&utm_medium=cpc&utm_term=%EB%B0%B0%EB%8B%AC%ED%86%B5&utm_campaign=brand_new&referrer=adjust_tracker%3Dwejnxo%26adjust_google_network%3Dg%26adjust_google_placement%3D%26adjust_campaign%3Dsem_bra_web_kr_705917413_cpc%26adjust_adgroup%3D42405976532%26adjust_creative%3D%EB%B0%B0%EB%8B%AC%ED%86%B5_b&gclid=EAIaIQobChMIt9fBzvqT2wIVzg0rCh2yTA25EAAYASAAEgJriPD_BwE" target="_blank">가조쿠!</a></p>
 </div>
</div>

